.skin-red .main-header .logo {
  background-color: #dd4b39;
}

.skin-red .main-header .logo:hover {
  background-color: #CF070C;
}

.main-header .logo {
  font-family: 'Gill Sans', 'Lato';
  font-weight: bold;
  font-size: 18
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Gill Sans', 'Lato';
}

